@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&family=Syncopate:wght@400;700&family=Bricolage+Grotesque:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background: #050505;
    color: #fff;
    overflow-x: hidden;
}


.dropdown-item.active {
    background-color: rgb(255, 255, 255) !important;
    color: black;
}

.dropdown-item:hover {
    background-color: rgb(204, 204, 204) !important;
    /* color: black; */
}